body{
	background-color: black;
	text-align: center;
}
p{
	color: blue;
	font-family: verdana;
	font-size: 2em;
}
div{
	border: 2px solid blue;
	border-radius: 26px;
	width: 55vh;
	height: 36vh;
	margin-left: 50%;
	margin-right: 50%;
	
	margin-left: 35%;
}
input{
	margin-top: 10%;
	border: 2px solid blue;
	background-color: black;
	width: 70%;
	height: 20%;
	border-radius: 30px;
	color: white;
	text-align: center;
}
button{
	background-color: blue;
	text-align: center;
	width: 200px;
	padding: 17px 22px;
	border-radius: 26px;
	border: 2px 
	margin-top: 3px;
	transition: 0.3s;
}
button:hover{
	color: blue;
	background-color: black;
	border: 2px solid blue;
}