body{
	background-color: black;
	text-align: center;
}
h1{
	color: hotpink;
	font-family: verdana;
	font-size: 2em;
}
div{
	border: 2px solid green;
	border-radius: 26px;
	width: 50vh;
	margin: 0 auto;
	padding: 5px;
	

}
button{
	background-color: darkgreen;
	text-align: center;
	width: 300px;
	padding: 15px 32px;
	border-radius: 26px;
	border: 2px solid white;
	margin: 15px;
	transition: 0.9s;
}
button:hover{
	color: darkgreen;
	background-color: black;
	border: 2px solid green;
	transform: rotate(12deg);
}
